@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

.hidden {
    display: none !important;
}

:root {
    --ContainerBackgroundColor: #9ab3d2;
    --FormBackgroundColor: white;
    --CircleBackgroundColor: #3a7dff;
    --CircleAndLineDefaultColor: #eff0f6;
    --CircleTextDefaultColor: black;
    --HeaderTextsOpacity: 0.5;
    --HeaderTextsLineHeight: 1.8rem;
    --HeaderTextsFontWeight: 500;
    --LightShadowForContainerAndInputs: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}
body{
    min-height: 100dvh;
    background-color: var(--ContainerBackgroundColor);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    width: 100%;
    max-height: 90%;
    justify-content: center;
    align-items: center;
}

.form {
    max-width: 50%;
    border-radius: 3rem;
    background-color: var(--FormBackgroundColor);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 2rem 6rem;
    gap: 2.5rem;

}

/* Header Here */
.form-header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-header-texts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.form-header-texts h1,
p {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.form-header-texts p {
    opacity: 0.5;
    color: black;
    line-height: 1.8rem;
    font-weight: 500;
}

.form-header-progress-wrapper {
    position: relative;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.form-header-progress {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 0.4rem;
}

.progress-step {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.circle {
    display: flex;
    width: 1rem;
    height: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 50%;
    background-color: var(--CircleAndLineDefaultColor); /* Circle Color*/
    color: var(--CircleTextDefaultColor);
    cursor: pointer;
}

.circle-line {
    background-color: var(--CircleAndLineDefaultColor); /* Line Color*/
    height: 0.3rem;
    width: 100%;
    display: block;
    border-radius: 1rem;
    position: relative;
    z-index: 1000;
}

.last-step {
    width: fit-content;
}

.in-process.progress-step > .circle {
    background-color: #3a7dff;
    color: white;
}

.in-process.progress-step > .circle-line {
    background-color: var(--CircleAndLineDefaultColor);
}


.in-process > .circle-line::before {
    width: 50%;
    height: 100%;
    background-color: #3a7dff;
    position: absolute;
    z-index: -1;
    content: "";
    border-radius: 1rem;
    left: 0;
}

.in-process .circle-line::before {
    animation: progress-line-anim 1s linear;
}

@keyframes progress-line-anim {
    from {
        width: 0;
    }
    to {
        width: 50%;
    }
}
@keyframes progress-line-completed-anim {
    from{
        width: 0;
    }
    to{
        width: 50%;
    }
}
.completed{
    width: 100%;
    position: relative;
}
.completed .circle-line {
    width: 100%;
    overflow: hidden;
}
.completed .circle-line::before {
    content: '';
    width: 50%;
    height: 100%;
    background-color:var(--CircleBackgroundColor);
    position: absolute;
    border-radius: 1rem;
    animation: progress-line-completed-anim 1s linear;
    left: 50%;
}
.completed .circle-line::after{
    content: '';
    position: absolute;
    left: 0;
    width: 52%;
    background-color: var(--CircleBackgroundColor);
    display: flex;
    height: 100%;
    z-index: -1;
    border-radius: 2rem;
}
.completed.progress-step > .circle{
    background-color: #3a7dff;
    color: white;
}
.completed.progress-step > .circle-line {
    color: white;
}

.content-wrapper {
    width: 100%;
    padding: 2rem 2rem;
    /* box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1); */
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTACT PAGE*/

.contact-details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
}

.contact-details-info {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.contact-details-info > p {
    line-height: var(--HeaderTextsLineHeight);
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
    opacity: var(--HeaderTextsOpacity);
    text-align: start;
}

.contact-details-info > h3 {
    font-size: 1.8rem;
    font-weight: 800;
}

.contact-form-wrapper {
    width: 100%;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.7rem;
}

.contact-input-group {
    display: flex;
    gap: 0.8rem;
    flex-direction: column;
    height: 105px;
}

.error-message {
    font-size: 0.9rem;
    color: rgba(241, 2, 2, 0.7);
    margin-left: 1.5rem;
}

.contact-input-group > label {
    font-weight: 600;
}

.contact-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    box-shadow: var(--LightShadowForContainerAndInputs);
}

.contact-input > input {
    border: none;
    outline: none;
    height: 100%;
    padding: 0.2rem 0.5rem;
    width: 100%;
}

.input-image {
    width: 1.7rem;
}

/* Home Looking */
.home-details-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 2rem;
}

.home-details-header-texts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.home-details-header-texts > h3 {
    font-size: 1.5rem;
}

.home-details-header-texts > p {
    opacity: 0.5;
    font-weight: 500;
    text-align: start;
}

.home-form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:  1fr 1fr;
    width: 100%;
    min-height: 220px;
    gap: 0.5rem;
    box-sizing: border-box;
}

.radio-button {
    width: 100%;
    height: 100%;
    min-width: 302px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem;
    border-radius: 0.7rem;
    gap: 0.7rem;
    cursor: pointer;
    border: 0.20rem solid transparent;
}

.radio-active {
    border-color: var(--CircleBackgroundColor);
}

.radio-button > label {
    font-weight: 600;
    cursor: pointer;
}

.radio-image {
    width: 4rem;
}


/*Budget Form*/
.budget-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.budget-header-texts {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
}

.budget-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.budget-radio-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 2rem 2rem;
    border-radius: 1rem;
    gap: 0.6rem;
}

.budget-radio-button-active {
    border: 2px solid var(--CircleBackgroundColor);

}

.budget-label {
    font-weight: 500;
}

.custom-radio {
    width: 1.7rem;
    height: 1.7rem;
    background: var(--CircleBackgroundColor);
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-radio-unchecked {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.custom-radio::after {
    content: "";
    width: 40%;
    height: 40%;
    background: white;
    position: absolute;
    border-radius: 50%;
}

/* Next Step */
.btn-next-step {
    align-self: flex-end;
    background-color: var(--CircleBackgroundColor);
    color: white;
    border: none;
    padding: 1rem 2.4rem;
    border-radius: 2rem;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}

.btn-next-step:disabled {
    background-color: red;
}

.btn-next-step:active {
    background-color: #3867c5;
}

/* Prev Step*/
.next-and-prev-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.btn-prev-step {
    background: none;
    border: 1px solid var(--CircleBackgroundColor);
    padding: 1rem 2rem;
    border-radius: 3rem;
    font-weight: 500;
    color: var(--CircleBackgroundColor);
    font-size: 1rem;
    cursor: pointer;
}


/* Small */
@media screen and (max-width: 576px) {
    /* .form-header-texts h1 {
      font-size: 1.5rem;
    }
    .form-header-texts p {
      font-size: 0.8rem;
      line-height: 1.3rem;
    } */
    .container {
        padding: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .form {
        max-width: 100%;
        min-width: 100%;
        /* padding: 1.5rem 0.8rem; */
        padding: 1rem 0;
        border-radius: 0;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
    }

    .content-wrapper {
        padding: 0 0.3rem;
        box-shadow: none;
    }

    .circle {
        width: 0.5rem;
        height: 0.5rem;
    }

    /* Contact Form */
    .input-image {
        max-width: 1.5rem;
    }


    /* Home Form*/
    .home-form {
        display: flex;
        flex-direction: column;
    }

    /*Budget Form*/
    .budget-form {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        justify-content: center;
        align-items: center;
    }
}

/* Medium */
@media screen and (min-width: 577px) and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0;
        height: 100%;
    }

    .form {
        max-width: 100%;
        width: 100%;
        border-radius: 0;
        padding: 1rem 0;
    }

    .form-header-texts {
        padding: 0 1rem;
    }

    .content-wrapper {
        box-shadow: none;
        padding: 0.3rem;
    }

    /*Contact Form*/
    .contact-form {
        flex-direction: column;
        display: flex;
    }

    .input-image {
        width: 1.5rem;
    }

    /*Home Form*/
    .home-details-header-texts {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .home-form {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .radio-button {
        max-width: 70%;
    }

    /*Budget Form*/
    .budget-form {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
    }
}


/* Desktop */
@media screen and (min-width: 769px) and (max-width: 992px) {
    .form {
        max-width: 90%;
        padding: 1rem 3rem;
    }

    .input-image {
        width: 1.5rem;
    }

    /*Budget*/
    .budget-radio-button {
    }
}

/* Large Desktops */
@media screen and (min-width: 993px) and (max-width: 1200px) {
    .form {
        max-width: 80%;
    }

    .input-image {
        width: 1.5rem;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
    .form {
        max-width: 60%;
        padding: 1rem 3rem;
    }

    .input-image {
        width: 1.5rem;
    }
}

/* @media screen and (min-width: 741px) and (max-width: 1080px) {
  .container {
    padding: 2rem 1rem;
    height: 100%;
  }
  .form {
    max-width: 100%;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  .input-image {
    max-width: 5%;
  }
}
@media screen and (min-width: 1080px) and (max-width: 1280px) {
  .form {
    min-width: 90%;
  }
  .input-image {
    width: 8%;
  }
}
@media screen and (min-width: 1281px) and (max-width: 1650px) {
  .form {
    min-width: 50%;
  }
} */
@keyframes autofill {
    from {
    }
    to {
    }
}

input:-webkit-autofill {
    animation-name: autofill;
    animation-duration: 1ms;
}