@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

:root {
  --ContainerBackgroundColor: #9ab3d2;
  --FormBackgroundColor: white;
  --CircleBackgroundColor: #3a7dff;
  --CircleAndLineDefaultColor: #eff0f6;
  --CircleTextDefaultColor: black;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ContainerBackgroundColor);
  height: 100dvh;
}
.form {
  width: 35%;
  height: 80%;
  border-radius: 3rem;
  background-color: var(--FormBackgroundColor);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 2rem 4rem;
}

/* Header Here */
.form-header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form-header-texts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.form-header-texts h1,
p {
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}
.form-header-texts p {
  opacity: 0.5;
  color: black;
  line-height: 1.8rem;
}
.form-header-progress-wrapper {
  position: relative;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-header-progress {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 0.4rem;
}
.progress-step {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}
.circle {
  display: flex;
  width: 1rem;
  height: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 50%;
  background-color: var(--CircleAndLineDefaultColor); /* Circle Color*/
  color: var(--CircleTextDefaultColor);
}
.circle-line {
  background-color: var(--CircleAndLineDefaultColor); /* Line Color*/
  height: 0.3rem;
  width: 100%;
  display: block;
  border-radius: 1rem;
  position: relative;
  z-index: 1000;
}

.last-step {
  width: fit-content;
}
.in-process.progress-step > .circle {
  background-color: #3a7dff;
  color: white;
}
.in-process.progress-step > .circle-line {
  background-color: var(--CircleAndLineDefaultColor);
}
.in-process > .circle-line::before {
  width: 50%;
  height: 100%;
  background-color: #3a7dff;
  position: absolute;
  z-index: -1;
  content: "";
  border-radius: 1rem;
  left: 0;
}
.completed.progress-step > .circle,
.completed.progress-step >.circle-line {
  background-color: #3a7dff;
  color: white;
}
/* .in-process {
  position: relative;
}
.in-process::before {
  display: block;
  content: "";
  width: 40%;
  position: absolute;
  background-color: #3a7dff;
  height: .3rem;
  border-radius: 1rem;
  left: 0;
} */
